<html>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="Game.js"></script>
<style>
	.square {
		border: 1px outset black;
		height:25px;
		width:25px;
		cursor:pointer;
	}
</style>
<body>

<h2>Ejemplos Spring</h2>
<h3>index con AngularJS en el cliente, POST en el servidor y comunicación con JSON</h3>

<table border="1" data-ng-app="GameApp" data-ng-controller="GameController">
	<tr>
		<th>Register</th>
		<th>Login</th>
		<th>Games</th>
		<th>Movement</th>
	</tr>
	<tr>
		<td id="divRegister">
			<div>
				<input type="email" id="email" placeholder="email" data-ng-model="email"><br>
				<input type="text" id="userName" placeholder="user name" data-ng-model="userName"><br>
				<input type="password" id="pwd1" placeholder="password" data-ng-model="pwd1"><br>
				<input type="password" id="pwd2" placeholder="repeat your password" data-ng-model="pwd2"><br>
				<button data-ng-click="register()" id="btnRegister">Register</button>
				<div id="mensajeRegistro"></div>
			</div>		
		</td>
		<td id="divLogin">
			<div>
				<input type="text" id="userNameLogin" data-ng-model="userName" placeholder="user name" value="pepe"><br>
				<input type="password" id="pwdLogin" data-ng-model="pwd" placeholder="password" value="pepe123"><br>
				<button data-ng-click="login()" id="btnLogin">Login</button>
			</div>
		</td>
		<td id="divGames">
			<div>
				<select id="gamesList" data-ng-model="game.name" data-ng-options="game for game in games"></select>
				<button id="btnJoinGame" data-ng-click="joinGame()">Join game</button>
			</div>
		</td>
		<td id="divMovement">
			<span data-ng-bind="estado"></span><br>
			<label data-ng-model="userName"></label><br>
			<button data-ng-click="move([0,0])" class="square" id="00"></button>
			<button data-ng-click="move([0,1])" class="square" id="01"></button>
			<button data-ng-click="move([0,2])" class="square" id="02"></button><br>
			<button data-ng-click="move([1,0])" class="square" id="10"></button>
			<button data-ng-click="move([1,1])" class="square" id="11"></button>
			<button data-ng-click="move([1,2])" class="square" id="12"></button><br>
			<button data-ng-click="move([2,0])" class="square" id="20"></button>
			<button data-ng-click="move([2,1])" class="square" id="21"></button>
			<button data-ng-click="move([2,2])" class="square" id="22"></button><br>
			<label data-ng-bind="opponentName"></label>
		</td>
	</tr>
	<tr>
		<td>
			<input type="file" id="foto">
			<button data-ng-click="subirFoto()">Subir foto</button>
		</td>
	</tr>
</table>
<img id="imgFoto" width="100" height="100">
	
	<a href="index.html">Ir a ejemplos sin JSON y por GET</a>
	
<script>
function subirFoto(){
	var file = foto.files[0];
	var reader = new FileReader();
	
	reader.onload = function(e){
		var blob=new Blob(reader.result);
		var blobReader=new FileReader();
		blobReader.onload = function(event){
			var buffer=event.target.result;
			//$scope.ws.send(buffer);
			chat.send(buffer);
		};
		blobReader.readAsArrayBuffer(blob);
	}
	reader.readAsArrayBuffer(file);
}
var app=angular.module("GameApp", []);
app.controller("GameController", function($scope, $http) {
	$scope.userName="";
	$scope.pwd="";
	$scope.pwd1=""; //new
	$scope.pwd2=""; //new
	$scope.email=""; //new
	$scope.estado="Desconectado";
	$scope.opponentName="Waiting for an opponent...";
	$scope.game=new Game();
	$scope.login = function() {
		var recurso="/login";
		var data= "userName=" + $scope.userName + "&pwd=" + $scope.pwd;
		var config = {
			headers : {
				'Content-Type' : 'application/x-www-form-urlencoded'
			}		
		};
		$http.post(recurso, data, config).then(
			function(response) {
				$scope.loadGames();
				sessionStorage.userName=response.userName;
			},
			function(response) {
				alert("Error");
			}
		);
	};
	$scope.subirFoto = function() {
		var file = foto.files[0];
		var reader = new FileReader();
		
		reader.onload = function(e){
			var blob=new Blob([reader.result]);
			var blobReader=new FileReader();
			blobReader.onload = function(event){
				var buffer=event.target.result;
				$scope.ws.send(buffer);
				//chat.send(buffer);
			};
			blobReader.readAsArrayBuffer(blob);
		}
		reader.readAsArrayBuffer(file);
	}
	
	$scope.register = function() {
		var recurso="/register";
		var data="userName=" + $scope.userName + 
				"&email=" + $scope.email + "&pwd1=" + $scope.pwd1 + 
				"&pwd2=" + $scope.pwd2;
		var config = {
			headers : {
				'Content-Type' : 'application/x-www-form-urlencoded'
			}		
		};
		$http.post(recurso, data, config).then(
				function(respuesta) {
					mensajeRegistro.innerHTML="Registro OK";
				},
				function(respuesta) {
					mensajeRegistro.innerHTML=respuesta.data.message;
				}
		);
	}
	$scope.loadGames = function() {
		$http.get("/games").then(
			function(respuesta) {
				$scope.games=respuesta.data;
				$scope.conectar(); //new, lo pongo aqui en lugar de en el $http.post, tambien podria
									//     ponerlo en el login
			}
		);
	};
	$scope.joinGame = function() {
		var recurso="/joinGame";
		var data= $scope.game.name;
		var config = {
			headers : {
				'Content-Type' : 'application/x-www-form-urlencoded'
			}		
		};
		$http.post(recurso, data, config).then(
			function(response) {
				console.log(response);
				
				response=response.data; //new
				if(response.currentPlayer!=-1){ //new
					var players=response.players;
					$scope.opponentName="";
					for(var i=0; i<players.length; i++){
						if(players[i].userName!=$scope.userName)
							$scope.opponentName=$scope.opponentName + players[i].userName +" ";
					}
				} //fin new
				
				//$scope.conectar(); lo pegamos más arriba linea 90 y algo
			},
			function(response) {
				alert("Error");
			}
		);
	};
	$scope.conectar = function() {
		$scope.ws=new WebSocket("ws://localhost:8080/gamews");
		$scope.ws.onopen = function() {
			$scope.$apply($scope.estado="Conectado");
		}
		$scope.ws.onmessage = function(mensaje) {
			var data=mensaje.data; //new aqui viene la cadena json que recibo del servidor
			data=JSON.parse(data); //new la convierto a json
			if(data.TYPE=="MATCH"){ //new
				if(data.currentPlayer!=-1)
					$scope.$apply($scope.estado="Partida comenzada");	
			}else if(data.TYPE=="FOTO"){
				imgFoto.src="data:image/jpeg;base64," + data.foto;
			}
			//$scope.$apply($scope.estado=mensaje.data);
			console.log(mensaje.data);
		}
		
		$scope.ws.onerror = function(mensaje) {
			$scope.$apply($scope.estado="Error: " + mensaje.data);
			console.log("Error: " + mensaje.data);
		}
		
		$scope.ws.onclose = function(mensaje) {
			$scope.$apply($scope.estado="Closed");
		}
	};
	$scope.move = function(coordinates) {
		var p = {
			type : "MOVEMENT",
			coordinates : coordinates
		};
		$scope.ws.send(JSON.stringify(p));
	}
});
</script>
</body>
</html>
