<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="angular/Game.js"></script>
<head>
	<title>TySWeb</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-signin-client_id" content="63933635623-liedbvfl5mulgoa3sqtqb1tu28vlam2t.apps.googleusercontent.com">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" data-ng-app="GameApp" data-ng-controller="GameController">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-55">
						Login
					</span>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Introduzca un nombre de usuario">
						<input type="text" id="userNameLogin" data-ng-model="userName" class="input100" name="email" placeholder="Usuario">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-user"></span>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Por favor, escriba la contraseña">
						<input type="password" id="pwdLogin" data-ng-model="pwd" class="input100" name="pass" placeholder="Contraseña">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>

					<div class="contact100-form-checkbox m-l-4">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Recuérdame
						</label>
					</div>
					
					<div class="container-login100-form-btn p-t-25">
						<button data-ng-click="login()" id="btnLogin" class="login100-form-btn">
							Iniciar Sesión
						</button>
					</div>

					<div class="text-center w-full p-t-42 p-b-22">
						<span class="txt1">
							O inicia sesión con tu cuenta de Google
						</span>
					</div>
					<div class="g-signin2" style="margin-left: auto; margin-right: auto;" data-onsuccess="onSignIn"></div>
					<div class="text-center w-full p-t-55">
						<span class="txt1">
							¿Todavía no eres miembro?
						</span>
						<a href="registrarse.html" class="txt1 bo1 hov1" href="#">
							Regístrate						
						</a>
					</div>
	
					<a href="http://localhost:8080/solicitarToken?userName=miguelcal97" class="text-center w-full p-t-42">Solicitar token</a>			
					<a href="post/index.html" class="text-center w-full">Ir a ejemplos con JSON, POST y jQuery</a><br>
					<a href="angular/index.html" class="text-center w-full">Ir a ejemplos con JSON, POST y Angular</a><br>
					<a href="indexppt.html" class="text-center w-full">Piedra, papel, tijera</a>
				</form>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
	
	<script>
	//new
	function onSignIn(googleUser) {
	  	var profile = googleUser.getBasicProfile();
	  	registrarOLoguear(profile.getId(), profile.getName(), profile.getEmail());
	  	alert('Registro/Login google OK');
	  	window.location.href = "menu.html";
	  	
	  	//console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
	  	//console.log('Name: ' + profile.getName());
	  	//console.log('Image URL: ' + profile.getImageUrl());
	  	//console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
	}
	
	//new
	function registrarOLoguear(idGoogle, nombre, email){
		var req=new XMLHttpRequest();
		req.open("POST", "registrarOLoguear");
		req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
		req.onreadystatechenge =  function(){
			if(request.readyState==4 && request.status==200){
				$scope.userName=response.data.resultado.userName;			
				$("#divMenu").hide();
				$("#divLogin").hide();
				$("#divRegistro").hide();
				$("#logout").show();
				$("#divSeleccionDeJuego").show();
				sessionStorage.userName=$scope.userName;
				$("#mensajeCorto").html("Conectado como " + $scope.userName);
				$scope.loadGames();
				$scope.conectar();	
			}
		};
		var p="idGoogle=" + idGoogle + "&nombre=" + nombre +"&email=" + email;
		req.send(p);
	}
	//new angular
	var app=angular.module("GameApp", []);
	app.controller("GameController", function($scope, $http) {
		$scope.userName="";
		$scope.pwd="";
		$scope.estado="Desconectado";
		$scope.opponentName="Waiting for an opponent...";
		$scope.game=new Game();
		$scope.login = function() {
			var recurso="/login";
			var data= "userName=" + $scope.userName + "&pwd=" + $scope.pwd;
			var config = {
				headers : {
					'Content-Type' : 'application/x-www-form-urlencoded'
				}		
			};
			$http.post(recurso, data, config).then(
				function(response) {
					//$scope.loadGames();
					sessionStorage.userName=response.userName;
					alert('Login OK');
					window.location.href = "menu.html";
				},
				function(response) {
					alert("Error");
				}
			);
		};
	});
	</script>
</body>
</html>