<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="angular/Game.js"></script>
<head>
	<title>Registro</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" data-ng-app="GameApp" data-ng-controller="GameController">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-55">
						Crear nueva cuenta
					</span>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Introduzca un email">
						<input id="email" data-ng-model="email" class="input100" type="email" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Introduzca un nombre de usuario">
						<input id="userName" data-ng-model="userName" class="input100" type="text" name="email" placeholder="Usuario">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-user"></span>
						</span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Escriba la contraseña">
						<input id="pwd1" data-ng-model="pwd1" class="input100" type="password" name="pass" placeholder="Contraseña">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Confirme la contraseña">
						<input id="pwd2" data-ng-model="pwd2" class="input100" type="password" name="pass" placeholder="Confirmar contraseña">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>			
					<div class="container-login100-form-btn p-t-25">
						<button data-ng-click="register()" id="btnRegister" class="login100-form-btn">
							Registrarse
						</button>
					</div>
					<div class="text-center w-full p-t-55">
						<span class="txt1">
							¿Ya tienes cuenta?
						</span>
						<a href="index.html" class="txt1 bo1 hov1" href="#">
							Inicia sesión						
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
	
	<script>
	var app=angular.module("GameApp", []);
	app.controller("GameController", function($scope, $http) {
		$scope.userName="";
		$scope.pwd1="";
		$scope.pwd2="";
		$scope.email="";
		$scope.estado="Desconectado";
		$scope.opponentName="Waiting for an opponent...";
		$scope.game=new Game();
		$scope.register = function() {
			var recurso="/register";
			var data="userName=" + $scope.userName + 
					"&email=" + $scope.email + "&pwd1=" + $scope.pwd1 + 
					"&pwd2=" + $scope.pwd2;
			var config = {
				headers : {
					'Content-Type' : 'application/x-www-form-urlencoded'
				}		
			};
			$http.post(recurso, data, config).then(
					function(respuesta) {		
						alert('Registro OK');
					},
					function(respuesta) {
						alert('Error');
					}
			);
		}
	});
	</script>
</body>
</html>